@import 'tailwindcss';

@theme {
  --font-family-sans:
    var(--font-helvetica), ui-sans-serif, system-ui, sans-serif;

  --container-padding: 2rem;
  --container-max-width-2xl: 1512px;

  --color-border: oklch(88% 0.03 260);
  --color-input: oklch(88% 0.03 260);
  --color-ring: oklch(65% 0.2 270);
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(25% 0.15 260);
  --color-primary: oklch(65% 0.2 270);
  --color-primary-foreground: oklch(98% 0.01 270);
  --color-secondary: oklch(80% 0.1 190);
  --color-secondary-foreground: oklch(25% 0.15 260);
  --color-accent: oklch(80% 0.15 60);
  --color-accent-foreground: oklch(25% 0.15 260);
  --color-muted: oklch(90% 0.02 260);
  --color-muted-foreground: oklch(60% 0.05 260);
  --color-card: oklch(98% 0.01 260);
  --color-card-foreground: oklch(25% 0.15 260);
}

@layer base {
  :root {
    --background: oklch(100% 0 0);
    --foreground: rgba(22, 22, 22, 1);
    --card: oklch(98% 0.01 260);
    --card-foreground: oklch(25% 0.15 260);
    --popover: oklch(98% 0.01 260);
    --popover-foreground: oklch(25% 0.15 260);
    --primary: oklch(65% 0.2 270);
    --primary-foreground: oklch(98% 0.01 270);
    --secondary: oklch(80% 0.1 190);
    --secondary-foreground: oklch(25% 0.15 260);
    --muted: oklch(90% 0.02 260);
    --muted-foreground: oklch(60% 0.05 260);
    --accent: oklch(80% 0.15 60);
    --accent-foreground: oklch(25% 0.15 260);
    --border: oklch(88% 0.03 260);
    --input: oklch(88% 0.03 260);
    --ring: oklch(65% 0.2 270);
    --color-span-e: rgba(86, 102, 237, 1);

    --color-black: #161618;
    --color-white: #fafafa;
    --color-dark-grey: #797979;
    --color-grey: #cacaca;
    --color-light-grey: #e8e6b9;
    --color-midnight-blue: #2f2e41;
    --color-dark-blue: #3f3d56;
    --color-blue: #5666ed;
    --color-light-blue: #bcb7fa;
    --color-pastel-blue: #ded7ff;
    --color-yellow: #fca345;
    --color-brilge: #ffffeb;
    --color-pink: #e466a8;
    --color-light-pink: #ffbbbb;
    --color-success: #107832;
    --color-failure: #e3423c;
    --color-theme-bg: #bbc2fa;
    --color-theme-active: #e0e3ff;

    --color-span-s: rgba(225, 182, 182, 1);
    --text-color: rgba(22, 22, 22, 1);

    --header-primary-color: rgba(86, 102, 237, 1);
    --header-accent-color: rgba(255, 182, 182, 1);
    --header-hover: rgba(254, 246, 235, 0.2);

    --option-accent-bg-color: rgba(86, 102, 237, 0.2);
    --option-primary-bg-color: rgba(63, 61, 86, 1);
    --option-border-color: rgba(187, 194, 250, 1);
    --option-shadow: 0px 4px 11.3px 0px rgba(71, 70, 116, 0.6);

    --first-primary-light-lg-w: 90%;
    --first-primary-light-lg-h: 200%;
    --first-primary-light-lg-left: -15%;
    --first-primary-light-lg-top: -50%;
    --first-primary-light-lg-rotate: 70deg;
    --first-primary-light-lg-blur: 400px;
    --first-primary-light-lg-color: rgba(86, 102, 237, 1);
    --first-primary-light-w: 0;
    --first-primary-light-h: 0;
    --first-primary-light-left: 0;
    --first-primary-light-top: 0;
    --first-primary-light-rotate: 0;
    --first-primary-light-blur: 0;
    --first-primary-light-color: transparent;

    --first-accent-light-lg-w: 50%;
    --first-accent-light-lg-h: 30%;
    --first-accent-light-lg-left: 55%;
    --first-accent-light-lg-top: 45%;
    --first-accent-light-lg-rotate: 160deg;
    --first-accent-light-lg-blur: 200px;
    --first-accent-light-lg-color: rgba(228, 110, 106, 1);
    --first-accent-light-w: 0;
    --first-accent-light-h: 0;
    --first-accent-light-left: 0;
    --first-accent-light-top: 0;
    --first-accent-light-rotate: 0;
    --first-accent-light-blur: 0;
    --first-accent-light-color: transparent;

    --second-primary-light-lg-w: 180%;
    --second-primary-light-lg-h: 185%;
    --second-primary-light-lg-left: -50%;
    --second-primary-light-lg-top: -50%;
    --second-primary-light-lg-rotate: 150deg;
    --second-primary-light-lg-blur: 400px;
    --second-primary-light-lg-color: rgba(86, 102, 237, 1);
    --second-primary-light-w: 75%;
    --second-primary-light-h: 105%;
    --second-primary-light-left: 10%;
    --second-primary-light-top: 15%;
    --second-primary-light-rotate: 130deg;
    --second-primary-light-blur: 200px;
    --second-primary-light-color: rgba(86, 102, 237, 1);

    --second-accent-light-lg-w: 25%;
    --second-accent-light-lg-h: 45%;
    --second-accent-light-lg-left: 45%;
    --second-accent-light-lg-top: 0;
    --second-accent-light-lg-rotate: 70deg;
    --second-accent-light-lg-blur: 100px;
    --second-accent-light-lg-color: rgba(228, 110, 106, 1);
    --second-accent-light-w: 30%;
    --second-accent-light-h: 35%;
    --second-accent-light-left: 45%;
    --second-accent-light-top: 15%;
    --second-accent-light-rotate: 90deg;
    --second-accent-light-blur: 75px;
    --second-accent-light-color: rgba(254, 246, 235, 1);

    /* color-home */
    --block-learn-background: #5666ed33;
    --block-pay-background: rgba(255, 255, 255);
    --block-pay-text: rgba(22, 22, 22, 1);
    --home-4-stepNumber-color: rgba(255, 255, 255);
    --color-number-stepNumber: rgba(22, 22, 22, 1);
  }
}

@layer base {
  * {
    border-color: var(--border);
    font-family: Helvetica;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply overflow-x-hidden max-w-full;
  }
  html {
    @apply overflow-x-hidden max-w-full;
  }
}
